<?xml version="1.0" encoding="utf-8" ?>
<profile>
	<userinformation>
		<!--0、未启用，1、已启用-->
		<used>1</used>
		<connection providername="System.Data.SqlClient">server=32.1.1.164\group0301;uid=sa;pwd=af706;database=tssfj;</connection>
		<!--<connection providername="System.Data.OracleClient">Server=32.1.1.9;Data Source=orcl;UID=skyoa;PWD=skyoa</connection>-->
		<!--<connection providername="System.Data.OracleClient">Server=32.1.1.9;Data Source=orcl_32.1.1.9;UID=skyoa_test;PWD=skyoa_test</connection>-->
		<mappingtable>
			<tablename>usr</tablename>
			<!--<tablename>pt_user</tablename>-->
		</mappingtable>
		<mappingcondition></mappingcondition>
		<mappingcolumn>
			<!--<columnname sourcename="pk">id</columnname>
			<columnname sourcename="cname">username</columnname>
			<columnname sourcename="login_id">loginname</columnname>-->
			<columnname sourcename="id">id</columnname>
			<columnname sourcename="chinaname">username</columnname>
			<columnname sourcename="loginname">loginname</columnname>
		</mappingcolumn>
	</userinformation>
</profile>