log4j.rootCategory=INFO,CONSOLE,SKY

log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
log4j.appender.CONSOLE.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n
#log4j.appender.CONSOLE.layout.ConversionPattern=%p: %d{yyyy-MM-dd HH:mm:ss} %C.%M(%L)%n%m%n

log4j.appender.SKY=org.apache.log4j.DailyRollingFileAppender
log4j.appender.SKY.File=%{ContextRealPath}/WEB-INF/logs/out
log4j.appender.SKY.DatePattern='_'yyyyMMdd'.log'   
log4j.appender.SKY.Threshold=DEBUG   
log4j.appender.SKY.layout=org.apache.log4j.PatternLayout
log4j.appender.SKY.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n