.grayImg{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}

/* Rule 1 of css/grid/grid.css */
.grid {
	BORDER-RIGHT: #eee 1px solid;
	BORDER-TOP: #eee 0px solid;
	BORDER-LEFT: #eee 1px solid;
	BORDER-BOTTOM: #eee 0px solid;
	FONT-SIZE: 11px;
	OVERFLOW: hidden;
	border-color:#ffe6b3;
	COLOR: #ffe6b3;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	POSITION: relative
}

/* Rule 3 of css/grid/grid.css */
.ie6fullwidthbug {
	BORDER-RIGHT: #ccc 0px solid;
	PADDING-RIGHT: 2px
}

/* Rule 1 of embedded stylesheet */
BODY {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

/* Rule 110 of css/grid/grid.css */
.grid DIV.pDiv {
	BORDER-RIGHT: #ccc 1px solid;
	BORDER-TOP: #ccc 0px solid;
	background-color:#ffe6b3;
	/*
	BACKGROUND: url(../images/default/grid/wbg.gif) repeat-x 0px -1px;*/
	OVERFLOW: hidden;
	BORDER-LEFT: #ccc 1px solid;
	BORDER-BOTTOM: #ccc 1px solid;
	WHITE-SPACE: nowrap;
	POSITION: relative
}

/* Rule 131 of css/grid/grid.css */
DIV.ie DIV {
	OVERFLOW: hidden
}

/* Rule 111 of css/grid/grid.css */
.grid DIV.pDiv DIV.pDiv2 {
	FLOAT: left;
	MARGIN: 3px 3px 3px -2px;
	WIDTH: 1024px
}

/* Rule 112 of css/grid/grid.css */
DIV.pGroup {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	FLOAT: left;
	MARGIN: 0px 5px;
	HEIGHT: 24px
}

/* Rule 113 of css/grid/grid.css */
.grid DIV.pDiv .pPageStat {
	OVERFLOW: visible;
	POSITION: relative;
	TOP: 5px
}

/* Rule 33 of css/grid/grid.css */
.grid DIV.btnseparator {
	BORDER-RIGHT: #fff 1px solid;
	FLOAT: left;
	MARGIN: 1px;
	BORDER-LEFT: #ccc 1px solid;
	HEIGHT: 22px
}

/* Rule 116 of css/grid/grid.css */
.grid DIV.pDiv DIV.pButton {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	FLOAT: left;
	BORDER-BOTTOM-WIDTH: 0px;
	OVERFLOW: hidden;
	WIDTH: 22px;
	CURSOR: pointer;
	HEIGHT: 22px;
	BORDER-RIGHT-WIDTH: 0px
}  /* Rule 127 of css/grid/grid.css */
.grid .pReload {
	BACKGROUND: url(../images/default/grid/load.png) no-repeat center 50%
}  /* Rule 128 of css/grid/grid.css */
.grid .loading {
	BACKGROUND: url(../images/default/grid/load.gif) no-repeat center 50%
}  /* Rule 119 of css/grid/grid.css */
.grid DIV.pDiv DIV.pButton SPAN {
	DISPLAY: block;
	FLOAT: left;
	WIDTH: 20px;
	HEIGHT: 20px
}  /* Rule 126 of css/grid/grid.css */
.grid .pLast {
	BACKGROUND: url(../images/default/grid/last.gif) no-repeat center 50%
}  /* Rule 125 of css/grid/grid.css */
.grid .pNext {
	BACKGROUND: url(../images/default/grid/next.gif) no-repeat center 50%
}  /* Rule 114 of css/grid/grid.css */
.grid DIV.pDiv .pcontrol {
	OVERFLOW: visible;
	POSITION: relative;
	TOP: 5px
}  /* Rule 115 of css/grid/grid.css */
.grid DIV.pDiv INPUT {
	VERTICAL-ALIGN: text-top;
	POSITION: relative;
	TOP: -5px
}  /* Rule 124 of css/grid/grid.css */
.grid .pPrev {
	BACKGROUND: url(../images/default/grid/prev.gif) no-repeat center 50%
}  /* Rule 123 of css/grid/grid.css */
.grid .pFirst {
	BACKGROUND: url(../images/default/grid/first.gif) no-repeat center 50%
}  /* Rule 122 of css/grid/grid.css */
.grid .pSearch {
	BACKGROUND: url(../images/default/grid/magnifier.png) no-repeat center 50%
}
#grid_container{ font:12px "ו"; width:600px; height:100%; color:#827200;} 
.grid_head_row{ width:100%;  border-top:1px solid #ffb517; border-bottom:1px solid #ffb517; 
                 background-color:#ffe6b3 
; height:20px;} 
.grid_row{ width:100%; border-bottom:1px solid #ffb517; height:20px; background-color:#fff} 
.grid_row_interval{width:100%;  border-bottom:1px solid #ffb517; height:20px; background-color:#fff2d9} 
.grid_row_hilight{width:100%;  border-bottom:1px solid #ffb517; height:20px; background-color:#ffe6b3} 
.grid_column{ float:left; height:20px; overflow:hidden; line-height:20px; text-align: center;} 
.grid_column_sort_desc{ float:left; height:20px; overflow:hidden; line-height:20px; text-align: center;
                         background-image:url(../images/default/grid/desc.gif); background-position:right center;background-repeat:no-repeat;} 
.grid_column_sort_asc{ float:left; height:20px; overflow:hidden; line-height:20px; text-align: center;
                        background-image:url(../images/default/grid/asc.gif); background-position:right center;background-repeat:no-repeat;} 
.grid_head_split{float:left; height:20px; width:2px;  
                  background-image:url(../images/default/grid/default/grid/default/grid/split.gif); background-position:center;background-repeat:no-repeat; cursor: e-resize; cursor: col-resize; } 
.grid_table_cell0{ float:left; height:20px; line-height:20px; overflow:hidden; text-align: center;} 
.grid_table_cell{ float:left; height:20px; line-height:20px; overflow:hidden; text-align: center; border-left:1px solid #ffb517;} 

.grid_column0{ width:20px;} 
.grid_column1{ width:100px;} 
.grid_column2{ width:80px;} 
.grid_column3{ width:120px;} 
.grid_column4{ width:100px;} 

.button{ font:12px "ו"; color:#827200; padding-left:12px; padding-right:12px; background-color:#ffe6b3; border-left:2px solid #fff;border-top:2px solid #fff;border-right:2px solid #ffb517;border-bottom:2px solid #ffb517;}  