<!--循环：article count：1-->
<% DataTable dt_4 = TemplateData.getDocList("article","科学在线","current","null","null","1","null");
if(dt_4==null){write("没有找到栏目。parent：null  catalog：科学在线");}else{
for(int i=0;i<dt_4.getRowCount();i++){
DataRow article_4  = dt_4.getDataRow(i);
%>
 <a href="${article_4.Link}" target="_blank"> <img src="${article_4.ImagePath}" height="90" width="120" /></a> <a href="${article_4.Link}" target="_blank">
            <h3>${article_4.Title|CharWidth=11}</h3>
            </a>
            <p><a href="${article_4.Link}" target="_blank">${article_4.Summary|CharWidth=25}</a></p>
          <%}}%>