<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${Catalog.Name}</title>
<link href="../images/kj3.css" type="text/css" rel="stylesheet" />
<link href="../images/kj2.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../images/play.js"></script>
</head>

<body>
<cms:include file="include/head.html"></cms:include>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
    <td>
    <div id="twoContainer">
        	<div class="twoContentHeader">
            	<span class="twoTitle">${catalog.name}</span> <span class="twoPosition">您的位置：<cms:link type="CurrentPosition" spliter=">">{ZCMS:当前位置}</cms:link></span>
            </div>
            
            <div class="twoContent">
                <table width="948" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="638" valign="top">
                  	<div class="twoRight" style="border:none;">
                    	<div class="twoRightContent audio" style="border-bottom:none;">
                        	<form>
                        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="albumDetailLis" style="margin-top:0px;">
                            	<thead>
                                <tr>
                                    <td width="20"><input type="checkbox" name="audio" onclick="allSelect(this)" /></td>
                                    <td colspan="3">
                                    	全选&nbsp;&nbsp;<a href="#" class="audio_btn" onclick="play()"><span>播放选中音频</span></a>&nbsp;&nbsp;<a href="#" class="audio_btn" onclick="play(null,true)"><span>加入播放列表</span></a>
                                    </td>
                                    <td><a href="#" class="myAudio" onclick="getSaveList()">我的音频</a></td>
                                </tr>
                                </thead>
                                <tbody id="list">
                                <cms:list item="Audio" type="Recent" page="true" pagesize=16>
                                    <tr>
                                        <td><input type="checkbox" name="audio" value="${Audio.Name}|${level}${Audio.path}${Audio.filename}" /></td>
                                        <td width="17">${Audio._RowNo}.</td>
                                        <td class="title"><a href="#" onclick="play('${Audio.Name}|${level}${Audio.path}${Audio.filename}',false);return false;">${Audio.Name}.${Audio.Suffix}</a></td>
                                        <td>大小:${Audio.FileSize}</td>
                                        <td><a href="#" class="play" onclick="play('${Audio.Name}|${level}${Audio.path}${Audio.filename}',false);return false;">&nbsp;</a>&nbsp;&nbsp;&nbsp;<a href="#" class="add" onclick="play('${Audio.Name}|${level}${Audio.path}${Audio.filename}',true);return false;">&nbsp;</a></td>
                                    </tr>
                                </cms:list>
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="page">${pagebar}</div>
                    </div>
                  </td>
                  <cms:include file="include/blocklist.html">{ZCMS:文件包含}</cms:include>
                </tr>
              </table>
            	
        </div>
        </div>
	</td>
  </tr></table>
<cms:include file="include/footer.html"></cms:include>
</body>
</html>
